$primary-font: 'Inter';
$secondary-font: 'DM Sans';

* {
  font-family: $primary-font;
}

h1 {
  font-size: 5rem;
  color: color('dark', 'darkest');
  font-weight: 700;
  line-height: 6rem;
  letter-spacing: -1.12px;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: color('dark', 'darkest');
  line-height: 3.75rem;
  letter-spacing: -1.2px;
}

h3 {
  font-size: 1.375rem;
  font-weight: 700;
  color: color('dark', 'darkest');
  line-height: 1.625rem;
  letter-spacing: -1.2px;
}

p {
  font-weight: 300;
  line-height: 1.5rem;
  paragraph-spacing: 1.5rem;
  &.p-bold {
    font-weight: 500;
  }
}

span {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.5rem;
  paragraph-spacing: 1.5rem;
  &.span-bold {
    font-weight: 500;
  }
}

a {
  text-decoration: none;
  transition: none;
  &:hover {
    text-decoration: none;
    transition: none;
  }
}
